# URL Supabase Project Anda (dari Dashboard Supabase -> Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co

# Anon Key Supabase Project Anda (dari Dashboard Supabase -> Project Settings -> API)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.xxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxx
